@using Microsoft.AspNet.Identity
@using Sams.Extensions.Model
@if (Session["UserInfo"] != null)
{
    var userInfo = (Account)Session["UserInfo"];

    using (Html.BeginForm("Logout", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="padding:5px" >
            <li>
                @Html.ActionLink("Hello " + userInfo.UserName+" ( "+userInfo.Company+" ) ", "Dashboard", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                <button type="submit" class="btn btn-primary SubmitButton" style="margin-top:10px; height:auto;width:auto;">Logout</button>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
