<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <extensions>
    <add assembly="NLog.Web" />
    <add assembly="NLog.Extended" />
  </extensions>
  <targets>
    <target name="file" xsi:type="File" fileName="D:/Logs/PdfDemo/Development/${date:format=yyyy}/${date:format=MM}/log_${date:format=yyyyMMdd_HH}.json">

      <layout xsi:type="JsonLayout">
        <attribute name="eventid" layout="${guid}" />
        <attribute name="@timestamp" layout="${date:universalTime=false:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
        <attribute name="timestamp" layout="${date:universalTime=false:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
        <attribute name="eventlevel" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="corrid" layout="${cs-activity-id}" />
        <attribute name="activityname" layout="${cs-activity-name}" />
        <attribute name="serverinfo" layout="${machinename}" />
        <attribute name="eventtrace" layout="${stacktrace}" />
        <attribute name="sessionid" layout="${aspnet-SessionId}" />
        <attribute name="environment" layout="${appsetting:Environment}" />
        <attribute name="requesturl" layout="${aspnet-Request-Url}" />
        <attribute name="useragent" layout="${aspnet-Request-UserAgent}" />
        <attribute name="requestorip" layout="${aspnet-Request-IP} " />
        <attribute name="requestormethod" layout="${aspnet-Request-Method}" />
        <attribute name="exception" layout="${exception:format=ToString,StackTrace}${newline}" />
        <attribute name="componentname" layout="${appsetting:ComponentName}" />
        <attribute name="applicationname" layout="${appsetting:ApplicationName}" />
        <attribute name="appphysicalpath" layout="${basedir}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
