
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImageViewer</title>
</head>
<body>
    <div style="width:100%;height:100%;border-color:gray;border-radius:5px;border-width:2px;">
        <img style="width:50%;height:50%;padding:10px;" src='https://www.ifm360.in/APS/FSAImages/@ViewBag.ImageName' />

    </div>

</body>
</html>
